@font-face {
  font-family: "Ailerons";
  src: url("../fonts/Ailerons.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Aileronsd41d.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Ailerons.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Ailerons.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/Ailerons.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Ailerons.svg#Ailerons")
      format("svg"); /* Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.navbar {
  /* background: linear-gradient(-90deg, #000000 0%, #cbcbcb 38%, #ffffff 100%); */
  padding: 10px 0;
  background-color: white !important;
}

.navbar-toggler {
  outline: none !important;
  margin-right: 30px;
  color: black !important;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav li a {
  float: right;
  text-align: left;
}

.nav-link {
  padding: 5px 20px !important;
  color: rgb(43, 43, 43) !important;
  letter-spacing: 2px !important;
}
.nav-link:hover {
  color: black !important;
  font-weight: 600;
}

.navbar-brand img {
  height: 40px;
  margin-left: 10px;
}

/* ----------------- home section css------------------------- */
#Home{
margin-top:100px;
}

#Home .bg-img{
  position: absolute;
  z-index: -10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: spots 100s infinite linear;
}
#Home .bg-img img{
  height: 100%;
  width: 100%;
}

.gyanendra-img {
  max-width: 350px;
  height: auto;
  width: 100%;
  display: flex;
  margin-right: 0;
  float: right;
  animation: img-animation 3s;
}
@keyframes img-animation{
  0%{opacity: 0}
  50%{opacity: 0}
  100%{opacity: 1;}
}

.social-profiles {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 30%;
  animation: moveToUp 2s;
}

.social-profiles a {
  color: #303030;
}

.resume-btn{
  animation: moveToDown 2s;
}

.black-border {
  height: 3px;
  width: 100%;
  background: linear-gradient(
    -90deg,
    #fff 4%,
    #ff3c3c 15%,
    #e6ff04 30%,
    #27ff7a 45%,
    #29e2fa 65%,
    #803cff 85%,
    #ffffff 96%
  );
}

.intro {
  margin: auto 0;
  overflow: hidden;
}
.heading {
  padding-top: 30px;
  font-family: "Ailerons";
  font-weight: 500;
  font-size: 5rem;
  color: black;
  text-transform: uppercase;
  animation: moveToLeft 2s;
}
.sub-heading {
  font-family: "Ailerons";
  font-weight: 300;
  font-size: 1.5rem;
  padding: 10px 0;
  color: #2e2e2e;
  animation: moveToRight 2s;
}

@keyframes moveToLeft{
  0%{ opacity: 0;}
  50%{ transform: translateX(-50px); opacity: 0;}
  90%{ transform: translateX(20px);}
  100%{ transform: translateX(0); opacity: 1;}
}
@keyframes moveToRight{
  0%{ opacity: 0;}
  50%{ transform: translateX(50px); opacity: 0;}
  90%{ transform: translateX(-20px);}
  100%{ transform: translateX(0); opacity: 1;}
}
@keyframes moveToUp{
  0%{ opacity: 0;}
  50%{ transform: translateY(50px); opacity: 0;}
  90%{ transform: translateY(-20px);}
  100%{ transform: translateY(0); opacity: 1;}
}

@keyframes moveToDown{
  0%{ opacity: 0;}
  50%{ transform: translateY(-50px); opacity: 0;}
  90%{ transform: translateY(20px);}
  100%{ transform: translateY(0); opacity: 1;}
}

#Skill{
  padding: 30px 0;
}
.skill-logo {
  height: 100px;
  width: auto;
  display: flex;
  margin: 50px auto;
}

.skill-list-item {
  display: block;
}

.skill-group {
  display: block;
  border-radius: 25px;
  padding: 20px 20px 5px;
  margin: 20px auto;
}

.skill-group h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.skill-group p {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  padding: 5px 0;
  color: rgb(63, 63, 63);
}

.skill-group.group-1 {
  background-color: antiquewhite;
}
.skill-group.group-2 {
  background-color: rgb(255, 221, 221);
  margin-top: 40px;
}
.skill-group.group-3 {
  background-color: rgb(200, 226, 255);
}
.skill-group.group-4 {
  background-color: rgb(200, 255, 229);
  margin-top: 40px;
}
.skill-group.group-5 {
  background-color: rgb(244, 200, 255);
}
.skill-group.group-6 {
  background-color: rgb(247, 255, 200);
  margin-top: 40px;
}

.fa-arrow-circle-right {
  margin-right: 8px;
  color: #383838;
}

.gradient-circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 30px;
  z-index: 50;
  animation: spots 10s infinite linear;
}
.about-img {
  border-radius: 50%;
  width: 320px;
  margin: 60px auto;
  position: relative;
  display: flex;
  z-index: 15;
}
.ovr-hide{
  overflow: hidden;
}
.about-spots {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 55;
  width: 450px;
  height: 450px;
  margin-top: -10px;
  animation: spots 10s infinite linear;
}
@keyframes spots {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-text {
  font-family: "Ailerons";
  font-weight: 600;
  font-size: 5rem;
  color: #5a5a5a;
  text-transform: uppercase;
  text-align: center;
}
.about-text span {
  color: #f8e329;
}

.about-body{
  font-family: 'Lato',sans-serif;
  line-height: 26px;
  color: #2e2e2e;
  display: flex;
  justify-content: center;
}

#contact{
  background-color: #303030;
  padding: 50px;
  margin-top: 50px;
}
#contact .black-border{
  background: linear-gradient(
    -90deg,
    #303030 4%,
    #ff3c3c 15%,
    #e6ff04 30%,
    #27ff7a 45%,
    #29e2fa 65%,
    #803cff 85%,
    #303030 96%
  );
}


form{
  width: 80%;
  margin: auto;
}

form.contact-form {
  margin-top: 40px;
}
form.contact-form .form-group {
  margin-bottom: 30px;
}
form.contact-form .form-group .form-control{
  background-color: transparent;
  border: 0;
  color:#d3d3d3;
  border-bottom: 1px solid yellow;
}

form button{
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  padding: 8px 30px;
  background-color: transparent;
  color: #e6ff04;
  border: 1px solid transparent;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}
form button:hover{
  background-color: #e8ff1b;
  color: #000000;
  font-weight: 600;
  box-shadow: 0 0 5px rgb(255, 255, 42),0 0 50px yellow,0 0 75px yellow,0 0 200px rgb(255, 255, 100);
}

@keyframes animate1{
  from{left: -100%}
  to{left: 100%}
}
form button span:nth-child(1){
position: absolute;
top:0;
width: 100%;
height: 2px;
background: linear-gradient(90deg, transparent, yellow);
animation: animate1 1s infinite ;
animation-delay: .2s;
}

@keyframes animate2{
  from{left: 100%}
  to{left: -100%}
}
form button span:nth-child(2){
position: absolute;
bottom:0;
width: 100%;
height: 2px;
background: linear-gradient(-90deg, transparent, yellow);
animation: animate2 1s infinite ;
animation-delay: .75s;
}

@keyframes animate3{
  from{top: -100%}
  to{top: 100%}
}
form button span:nth-child(3){
position: absolute;
right:0;
height: 100%;
width: 2px;
background: linear-gradient(180deg, transparent, yellow);
animation: animate3 1s infinite ;
animation-delay: .5s;
}

@keyframes animate4{
  from{bottom: -100%}
  to{bottom: 100%}
}
form button span:nth-child(4){
position: absolute;
left:0;
height: 100%;
width: 2px;
background: linear-gradient(360deg, transparent, yellow);
animation: animate4 1s infinite ;
animation-delay: 1s;
}


#contact .about-text{
  color: white;
  font-size: 3rem;
  margin-top: 60px;
}
.contact-details{
  height: calc(100% + 100px) ;
  max-width: 450px;
  width: auto;
  background-color: #6f1aa8;
  margin: auto;
  margin-top: -100px;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-heading{
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 20px;
}
.contact-text{
  color: white;
  font-weight: 500;
  font-size: 13px;
  padding-left: 20px;
  padding-bottom: 15px;
}
.vertical-line{
  position: absolute;
  height: 40%;
  width: 2px;
  background-color: #000000;
}
.social-icons{
  margin: 20px auto;
}

.social-icons .fab{
  color: white;
  margin: 5px;
  font-size: 2rem;
}

.social-icons .fab:hover {
  transform: scale(1.2);
  color: #14ffe0;
}


@media screen and (max-width: 768px) {
  .gyanendra-img {
    margin: 0 auto;
    padding: 50px 10% 0;
    float: none;
  }
  #Home{
    margin-top:60px;
    }
  .navbar {
    background: white;
  }
  .heading {
    font-size: 3rem;
  }
  .gradient-circle {
    width: 260px;
    margin-top: 30px;
  }
  .about-img {
    width: 220px;
    
    margin-top: 50px;
  }
  .about-spots {
    width: 320px;
    height: 320px;
    margin-top: -10px;
  }
  .about-text {
    font-size: 4rem;
  }
  .contact-details{
    height: 100%;
    width: auto;
    margin: 0;
    max-width: 1000px;
  }
  #contact{
    padding-bottom: 0;
  }
}

@media screen and (max-width: 425px) {
  
  .gradient-circle {
    width: 220px;
    margin-top: -20px;
  }
  #Home{
    margin-top:100px;
    }
  .about-img {
    width: 180px;
    margin-top: 55px;
  }
  .about-spots {
    width: 280px;
    height: 280px;
    margin-top: 0px;
  }
  .about-text {
    margin-top: 25px;
    font-size: 3rem;
  }
  .gradient-circle {
    margin-top: 35px;
  }
  #contact{
    padding: 0;
    overflow: hidden;
  }
  .social-icons .fab{
    font-size: 1.5rem;
  }
}

